doctype html
html(lang='en' dir='ltr')
  head
    meta(charset='UTF-8')
    //- metadata
    meta(name='description' content='Brian Lindner\'s personal Web site.')
    meta(name='apple-mobile-web-app-capable' content='yes')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='canonical' href='https://bclindner.com')
    title ~brian
    //- icons
    link(rel='icon' type='image/png' href='../favicon.png')
    link(rel='apple-touch-icon' href='../static/img/avatar.png')
    //- social link
    link(rel='me' type='text/html' href='https://mastodon.technology/@bclindner')
    //- stylesheet (super super simple)
    link(rel='stylesheet' href='style.css')
  body
    h1 hey!
    p
      | i'm brian (he/him)! this is my personal site - you probably found this through mastodon or on one of my personal accounts, or maybe by combing through the public git repository for this site (nosy one, aren't we?)
    p
      | while i'm mostly a web developer by trade (see the main site for that), i also have experience doing all kinds of light creative work here and there, like drawing 
      a(href="../static/img/avatar.png") that little avatar on the main page
      | , 
      a(href="https://chiptuneswin.bandcamp.com/track/journey-2") the occasional music thing
      | , some video editing, etc.

    p
      | i keep the root page as kind of "business card" because i figure it doesn't look good to folks thinking of working with me, a 
      i  web developer,
      |  when my main homepage is a simple text site with 
      a(href="tilde.css") less than 256 bytes of CSS
      | . 
      small im sorry i just dont like writing complicated bloated shit for no reason
      |  i also figure it doesn't look good when my main homepage links directly to personal accounts where i might potentially post about nsfw/controversial stuff, too. 

    p here's some of my stuff:
    ul
      li
        a(href="https://github.com/bclindner") my github
        | , which i begrudgingly keep around so people can find/interact with my work in a semi-standardized location:
        ul
          li i self-host gitea at home, but that instance is private, at least until there's some benefit to making that public that outweighs the consequences of a potential breach
      li
        a(href="https://mastodon.technology/@bclindner") my mastodon account
        | , which i am fairly active on
        ul
          li
            | i am actually the co-admin of mastodon.technology! 
            a(href="https://mastodon.technology/@ashfurrow") @ashfurrow
            |  is the main operator, and handles most of the site proper.
          li i mostly provide support through moderation and anti-spam automation, and occasionally getting into the admin console for damage control when someone's being a tremendous dick
      li
        a(href="mailto:brian@bclindner.com") my email
        | , which i generally answer, though personal emails for me are rare
      li
        a(href="about:blank") my blog
        | , which doesn't exist, despite me wanting to start one
        ul
          li i'll get to it at some point
    p there's also a few projects i've worked on that are out there, which i mostly keep public on github:
    ul
      li
        | i'm working on 
        a(href="https://github.com/bclindner/ivory") a Mastodon automoderator
        |  which my instance and several others use to handle spam
      li
        | there's also this sketchy little 
        a(href="https://github.com/bclindner/modstodon") Mastodon report handling app
        |  i threw together in a week to handle reports on my phone, but honestly i wouldn't call it production ready
      li
        | i also wrote a dumb 
        a(href="https://github.com/bclindner/valerius") Discord bot
        |  in Go that can be configured on the fly with JSON, which, in retrospect, was a really bad idea
      li
        | i maintain a 
        a(href="https://github.com/bclindner/iasipgenerator") little library and CLI application
        |  for generating title cards for It's Always Sunny in Philadelphia in Go, which is pretty cool
      li
        | i own the domains and wrote the pages for 
        a(href="https://oh.youreapproaching.me") oh.youreapproaching.me
        |  and 
        a(href="https://yeet.online") yeet.online
        ul
          li
            | i also have 
            a(href="https://bclinder.com") bclinder.com
            |  but only to redirect people who misspell my last name
      li
        | there's also a 
        a(href="https://github.com/bclindner/dexplorer") ton
        |  
        a(href="https://github.com/bclindner/vue-trivia") of
        |  
        a(href="https://github.com/bclindner/chipbot2.0") other
        |  
        a(href="https://github.com/bclindner/b2048") little
        |  
        a(href="https://github.com/bclindner/bclindner.com") stuff
        |  that i've done but i don't think much of it is all that notable

    footer
      p © brian lindner, 2019.
