doctype html
html(lang='en' dir='ltr')
  head
    meta(charset='UTF-8')
    include _partials/meta
    include _partials/style/main
  body
    div.wrapper
      div.fullcenter
        h1.name 404!
          br
          small Couldn't find that one.
        p
          a(href='/') Go home
