doctype html
html(lang='en' dir='ltr')
  head
    title Brian!
    include _partials/meta
    include _partials/style/main
    include _mixins/cardlink
    include _mixins/langicon
  body
    div.wrapper
      div.h-card.flex
        aside
          //- sidebar with my name, avatar, and languages
          //- click on each language to pull up my github repos for that language
          h1.p-name.name
            span.p-given-name Brian
            | 
            span.p-family-name Lindner
          a.u-url(href="https://bclindner.com")
            img.u-photo.avatar(src='static/img/avatar.png' alt='Picture of Brian Lindner')
          div.languages
            +langicon("javascript", "javascript", "JS")
            +langicon("go", "go", "Go")
            +langicon("python", "python", "Py3")
          p.p-summary.description Software engineer.
        main
          //- bar with each network i want to display w/ an icon and username. clicking provides a link
          +cardlink("https://github.com/bclindner", "github", "GitHub")
            | @bclindner
          +cardlink("https://linkedin.com/in/bclindner", "linkedin", "LinkedIn")
            | /in/bclindner
          +cardlink("mailto:brian@bclindner.com", "gmail", "Email")
            | brian
            wbr
            | @bclindner.com
          +cardlink("https://keybase.io/bclindner", "keybase", "Keybase")
            | @bclindner
          // either you're nosy, or you're a robot.
          // either way, here's some more places you can find me
          div.secret
            +cardlink("https://mastodon.technology/@bclindner", "mastodon", "Mastodon")
              | @bclindner
              wbr
              | @mastodon.technology
            +dummycardlink("gnuprivacyguard", "PGP public key")
              | AA99 417F 7F65 2506
      p.attribution
        | Icons provided by
        a(href='https://simpleicons.org/')  SimpleIcons.org
        |  and
        a(href='https://golang.org/')  the Go authors.
